* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    text-align: center;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0073e6;
    color: white;
    padding: 1rem;
}

header h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

footer {
    font-weight: bold;
    text-align: center;
    background-color: #0073e6;
    color: white;
    padding: 1rem 0;
}

/* Navigation Styles */
nav {
    display: flex;
    align-items: center;
    position: relative;
}

#hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

nav button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background: #007BFF;
    color: white;
    font-size: 16px;
    border-radius: 5px;
}

nav button:hover {
    background: #0056b3;
}

/* nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1.5rem;
}

nav ul li a {
    font-weight: bold;
    text-decoration: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

nav ul li a:hover {
    background-color: #005bb5;
    transition: background-color 0.3s ease;
} */



/* Main Styles */

#temples-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.temple-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 20px;
    width: 300px;
    text-align: center;
}

.temple-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

main h2 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: #333;
}

/* main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    text-align: center;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Temples Section */
/* #temples {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    justify-items: center;
    align-items: center;
}

/* Figure Styles */
/* figure {
    width: 100%;
    max-width: 300px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}*/

/* figure img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 0.5rem;
}

figcaption {
    font-size: 1rem;
    color: #555;
} */